.area-white-box {
  img {
    vertical-align: middle;
  }

  .calulation-method-radio {
    div.xpn {
      width: 20px;
      height: 20px;

      border-color: #767676;
      border-color: #45597a;

      // .nG5 {
      //   // default
      // }
      // .dPY {
      //   // hover
      // }
      // .gsJ {
      //   // active
      // }
    }

    label {
      div.Shl {
        margin: 0 !important;
        padding-left: 0px;
        padding-right: 2px;
      }
    }

    .O2T {
      color: #45597a;
    }
  }
  input#refNumberField {
    height: 36px;
  }
}
